/logs.log
/config.json
/.idea/.gitignore
/.idea/ArkCSM.iml
/.idea/discord.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/pyinstaller command.txt
/build/
/dist/
/python.spec
/gui/
